body {
    background-color: #FFFFFF;
    color: #3d3d3d;
}

.container {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.card-header {
    background-color: #004D40;
    color: #ffffff;
    font-weight: bold;
    border-color: #3d3d3d;
}

.aderencia-card {
    background-color: #FAFAFA;
    border-left: 5px solid #7e7e7e;
}

.modal-backdrop {
    z-index: 1040 !important;
}

.modal {
    z-index: 1050 !important;
}

.table-hover tbody tr:hover {
    cursor: pointer;
    background-color: #c9c9c994;
}

.btn {
    background-color: #004D40;
}

.btn:hover {
    background-color: #01967d;
}

.texto-aderencia {
    color: #01967d;
}

.botao-aviso {
    background-color: #004D40;
    color: #FFFFFF;
}

.botao-aviso:hover {
    background-color: #FF9800;
}